@{
    Layout = null;
    ViewData["Title"] = "Activar Perfil";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activación de Cuenta - Mi Gente en Línea</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>
    <link href="~/css/animated.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .logo {
            text-align: center
        }

        body {
            background: linear-gradient(to bottom right, rgba(255, 0, 255, 0.1), rgba(0, 0, 255, 0.91)), url('/images/back1.jpg');
            background-size: inherit;
        }

        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-form {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 8px;
            padding: 20px;
            max-width: 400px;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

        .animated-form {
            display: none;
        }
    </style>
</head>
<body>
    <form asp-action="ActivarPerfil" asp-controller="Auth" method="post" id="activationForm">
        <input type="hidden" name="UserId" id="userId" value="@Context.Request.Query["userID"]" />
        
        <div class="login-container animate__animated animate__jello">
            <div class="login-form animate__animated animate__flipInY">
                <h4 class="text-center">Activación de Cuenta</h4>
                <hr />

                <div>
                    <div class="form-group">
                        <label for="txtEmail">Correo electrónico</label>
                        <input type="email" name="Email" id="txtEmail" class="form-control" placeholder="Correo electrónico" readonly />
                    </div>

                    <div class="form-group">
                        <label for="txtPassword">Contraseña</label>
                        <input type="password" name="Password" id="txtPassword" class="form-control" placeholder="Contraseña" required />
                    </div>

                    <div class="form-group">
                        <label for="txtConfirmPassword">Confirmar contraseña</label>
                        <input type="password" name="ConfirmPassword" id="txtConfirmPassword" class="form-control" placeholder="Confirmar contraseña" required />
                    </div>

                    <div class="form-group">
                        <button type="submit" id="btnActivar" class="btn btn-primary btn-block" disabled>Crear contraseña</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        window.addEventListener('load', function () {
            // Obtener parámetros de la URL
            var url = new URL(window.location.href);
            var params = new URLSearchParams(url.search);
            var email = params.get("email");
            
            if (email) {
                document.getElementById('txtEmail').value = email;
            }

            // Validación de contraseñas
            document.getElementById('txtPassword').addEventListener('input', enableDisableButton);
            document.getElementById('txtConfirmPassword').addEventListener('input', enableDisableButton);
        });

        function enableDisableButton() {
            var password = document.getElementById('txtPassword').value;
            var confirmPassword = document.getElementById('txtConfirmPassword').value;
            var submitButton = document.getElementById('btnActivar');

            if (password.length >= 6 && password === confirmPassword) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }

        document.getElementById('activationForm').addEventListener('submit', function (e) {
            var password = document.getElementById('txtPassword').value;
            var confirmPassword = document.getElementById('txtConfirmPassword').value;

            if (password !== confirmPassword) {
                e.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Las contraseñas no coinciden. Por favor, verifica.'
                });
            }
        });
    </script>
</body>
</html>
