@{
    Layout = null;
    ViewData["Title"] = "Iniciar Sesión";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Gente en Línea - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="~/css/animated.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        .logo {
            text-align: center
        }

        body {
            background: linear-gradient(to bottom right, rgba(255, 0, 255, 0.1), rgba(0, 0, 255, 0.91)), url('/images/back1.jpg');
            background-size: inherit;
        }

        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-form {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 8px;
            padding: 20px;
            max-width: 400px;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

        .animated-form {
            display: none;
        }
    </style>
</head>
<body>
    <div class="login-container animate__animated animate__jello">
        <div id="loginForm" class="login-form animate__animated animate__flipInY">
            <h4 class="text-center">Bienvenido a</h4>
            <a href="/">
                <div style="text-align: center">
                    <img src="~/images/logoMiGene.png" alt="Mi Gente en Línea" />
                </div>
            </a>

            <hr />

            <form asp-action="Login" asp-controller="Auth" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" name="Email" id="Email" class="form-control" placeholder="Correo electrónico" required />
                </div>

                <div class="form-group">
                    <label for="Password">Contraseña</label>
                    <div class="input-group">
                        <input type="password" name="Password" id="Password" class="form-control" placeholder="Contraseña" required />
                        <div class="input-group-append">
                            <button id="btnTogglePassword" class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility()">
                                <i id="eyeIcon" class="fa fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                </div>
                <div class="form-group">
                    <a asp-action="Registrar" asp-controller="Auth" class="btn btn-secondary btn-block">Crear Nueva Cuenta</a>
                </div>
                <div class="form-group text-center">
                    <a href="#" onclick="toggleDivs('loginForm','forgotPasswordForm')" class="text-primary">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </div>

        <div id="forgotPasswordForm" class="login-form animated-form animate__animated animate__flipInX">
            <h4 class="text-center">Recuperar contraseña</h4>
            <hr />

            <form asp-action="RecuperarPassword" asp-controller="Auth" method="post">
                <div class="form-group">
                    <label for="ForgotEmail">Correo electrónico</label>
                    <input type="email" name="Email" id="ForgotEmail" class="form-control" placeholder="Correo electrónico" required />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Enviar Solicitud</button>
                </div>

                <div class="form-group text-center">
                    <a href="#" onclick="toggleDivs('forgotPasswordForm','loginForm')" class="text-primary">Volver al inicio de sesión</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        function toggleDivs(hideDivId, showDivId) {
            var hideDiv = document.getElementById(hideDivId);
            var showDiv = document.getElementById(showDivId);

            if (hideDiv && showDiv) {
                hideDiv.style.display = 'none';
                showDiv.style.display = 'block';
            }
        }

        function togglePasswordVisibility() {
            var passwordField = document.getElementById("Password");
            var eyeIcon = document.getElementById("eyeIcon");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                eyeIcon.className = "fa fa-eye-slash";
            } else {
                passwordField.type = "password";
                eyeIcon.className = "fa fa-eye";
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
