a {
    color: #f96332;
}

.m-t-5 {
    margin-top: 5px;
}

.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

    .card .body {
        font-size: 14px;
        color: #424242;
        padding: 20px;
        font-weight: 400;
    }

.profile-page .profile-header {
    position: relative
}

    .profile-page .profile-header .profile-image img {
        border-radius: 50%;
        width: 140px;
        border: 3px solid #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }

    .profile-page .profile-header .social-icon a {
        margin: 0 5px
    }

.profile-page .profile-sub-header {
    min-height: 60px;
    width: 100%
}

    .profile-page .profile-sub-header ul.box-list {
        display: inline-table;
        table-layout: fixed;
        width: 100%;
        background: #eee
    }

        .profile-page .profile-sub-header ul.box-list li {
            border-right: 1px solid #e0e0e0;
            display: table-cell;
            list-style: none
        }

            .profile-page .profile-sub-header ul.box-list li:last-child {
                border-right: none
            }

            .profile-page .profile-sub-header ul.box-list li a {
                display: block;
                padding: 15px 0;
                color: #424242
            }

.checked {
    color: orange;
}

.divCalificacionCard {
    text-align: end;
    margin-top: 15px;
}


.pricing-content {
    position: relative;
}

.pricing_design {
    position: relative;
    margin: 0px 15px;
}

    .pricing_design .single-pricing {
        background: #00176B;
        padding: 60px 40px;
        border-radius: 30px;
        box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
        position: relative;
        z-index: 1;
    }

        .pricing_design .single-pricing:before {
            content: "";
            background-color: #fff;
            width: 100%;
            height: 100%;
            border-radius: 18px 18px 190px 18px;
            border: 1px solid #eee;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }

.price-head {
}

    .price-head h2 {
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 600;
    }

    .price-head h1 {
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .price-head span {
    }

.single-pricing ul {
    list-style: none;
    margin-top: 30px;
}

    .single-pricing ul li {
        line-height: 36px;
    }

        .single-pricing ul li i {
            background: #554c86;
            color: #fff;
            width: 20px;
            height: 20px;
            border-radius: 30px;
            font-size: 11px;
            text-align: center;
            line-height: 20px;
            margin-right: 6px;
        }

.pricing-price {
}

.price_btn {
    background: #00176B;
    padding: 10px 30px;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

    .price_btn:hover {
        background: #0aa1d6;
    }

a {
    text-decoration: none;
}

.section-title {
    margin-bottom: 60px;
}

.text-center {
    text-align: center !important;
}

.section-title h2 {
    font-size: 45px;
    font-weight: 600;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
}